body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo {
    width: 150px;
    height: auto;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #banner {
    background-color: #ddd;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .banner-img {
    width: 100%;
    height: auto;
  }
  
  .formas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
  }
  
  .div-triangulos {
    border-bottom: 50px solid #fff;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .div-rectangulos {
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .text-banner {
    font-size: 36px;
    color: #fff;
    margin-top: 20px;
  }
  
  .text-mensaje {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
  }
  
  .bolsa-header {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  #quienes-somos {
    background-color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .img-quienes-somos {
    width: 100%;
    height: auto;
  }
  
  .quienes-somos-text-h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
  }
  
  .quienes-somos-text-h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    text-align: center;}