body {
  top: 0;
  left: 0;
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  height: 163px;
  left: 0px;
  top: 0px;
}
.div-header {
  position: absolute;
  width: 100%;
  height: 163px;
  left: 0px;
  top: 0px;

  background: #ffc700;
}
#logo {
  box-sizing: border-box;

  position: absolute;
  width: 436px;
  height: 120px;
  left: 49px;
  top: 21px;

  border: 3px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*Banner main*/
#banner {
  position: absolute;
  width: 100%;
  height: 955px;
  left: 0px;
  top: 0px;
}
.banner-img {
  position: absolute;
  width: 100%;
  height: 954px;
  left: 0px;
  top: 163px;
}
.formas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 163px;
  overflow: hidden;
}
.div-triangulos {
  position: absolute;
  width: 100%;
  height: 955px;
  left: 0px;
  top: 0px;

  background: #e96060;
  opacity: 0.5;
}
.div-rectangulos {
  position: absolute;
  width:100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background: rgba(245, 173, 34, 0.75);
  transform: matrix(-4, 3, 2, 5, 33, 20);
}
.bolsa-header {
  position: absolute;
  width: 406.25px;
  height: 397.34px;
  left: 49.03px;
  top: 667.88px;

  filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));
}
.text-banner {
  position: absolute;
  width: 1048.99px;
  height: 246.97px;
  left: 342px;
  top: 394px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 182px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;

  text-shadow: 18px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-mensaje {
  position: absolute;
  width: 966px;
  height: 100px;
  left: 604px;
  top: 712px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;

  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}
#quienes-somos {
  position: absolute;
  width: 100%;
  height: 650px;
  left: 0x;
  top: 1130px;

  background: #151515;
}
.img-quienes-somos {
  position: absolute;
  width: 1011.65px;
  height: 650px;
  left: 4px;
  top: 0px;
}
.quienes-somos-text-h1 {
  position: absolute;
  width: 351px;
  height: 39px;
  left: 1320px;
  top: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
.quienes-somos-text-h3 {
  position: absolute;
  width: 643.51px;
  height: 370px;
  left: 1150px;
  top: 70px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
#catalogo-productos {
  position: absolute;
  width: 100%;
  height: 1735px;
  left: 0px;
  top: 1850px;
}
.catalogo {
  position: absolute;
  width: 100%;
  height: 1735px;
  left: 0px;
  top: 0px;

  background: #ffc700;
}
.catalogo-h1 {
  position: absolute;
  width: 736px;
  height: 77px;
  left: 600px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #ffffff;

  text-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
}
#catalogo-producto1 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 120px;
  top: 200px;
}
.producto1 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 0px;
  top: 0px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
.img-producto {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 0px;
  top: 0px;
}
.producto2 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 500px;
  top: 0px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
.producto3 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 1000px;
  top: 0px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
.producto4 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 0px;
  top: 700px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
.producto5 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 500px;
  top: 700px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
.producto6 {
  position: absolute;
  width: 436.24px;
  height: 673.2px;
  left: 1000px;
  top: 700px;

  background: #d9d9d9;
  box-shadow: 14px 4px 11px 5px rgba(0, 0, 0, 0.25);
}
footer {
  position: absolute;
  width: 100%;
  height: 351px;
  left: 0px;
  top: 3780px;
}
.footer-div {
  position: absolute;
  width: 100%;
  height: 351px;
  left: 0px;
  top: 3780px;

  background: #ffc700;
}
.img-footer {
  box-sizing: border-box;

  position: absolute;
  width: 608px;
  height: 173px;
  left: 43px;
  top: 50px;

  mix-blend-mode: normal;
  border: 3px solid #ffffff;
  filter: drop-shadow(5px 4px 8px rgba(0, 0, 0, 0.25));
}
.text-footer {
  position: absolute;
  width: 348px;
  height: 29px;
  left: 651px;
  top: 265px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
.text-terminos {
  position: absolute;
  width: 310px;
  height: 29px;
  left: 1371px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #ffffff;
}
