.product-perfil {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(190, 190, 190);
  }
  
  .product-image-perfil {
    max-width: 20%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .title-divider-perfil {
    max-width: 70%;
    height: 3px;
    background-color: gray;
    margin-bottom: 25px;
  }
  
  .product-details-perfil {
    width: 60%;
  }
  
  .product-title-perfil {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }
  
  .product-description-perfil {
    color: black;
    margin-bottom: 10px;
  }
  
  .product-price-perfil {
    font-weight: bold;
    color: red;
  }
  main {
    margin-top: 50px;
  }
  
  @media (max-width: 600px) {
    .product-image-perfil {
      max-width: 90%;
    }
    .product {
      flex-direction: column;
    }
    .product-perfil {
      display: block;
      text-align: center;
    }
    .product-image {
      width: 100%;
      margin-bottom: 20px;
    }
    .title-divider {
        margin-bottom: 50%;
      }
    .product-details-perfil {
        width: 80%;
        padding-bottom: 20%;
        display: inline-block;
      }
  }